body {
  background-color: #cc9886;
  padding: 10px;
}

.jumbotron {
  background-image: url("https://i.pinimg.com/564x/1a/bf/00/1abf000224e7ab12d932dc285b307a70.jpg");
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 60px;
  font-weight: bold;
}

#banner-text {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
  font-weight: bolder;
}

h3 {
  font-family: 'Bungee Outline', cursive;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

h5 {
  font-family: 'Bungee Outline', cursive;
  font-size: 29px;
  font-weight: bolder;
}

h5 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: bolder;
  text-shadow: 2px 2px #c4c0c0;
}

.result-h5 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: bolder;
  text-shadow: 2px 2px #c4c0c0;
  text-align: center;
  font-size: 40px;
}

body {
 font-family: 'Quicksand', sans-serif;
}

.btn {
  font-family: 'Bungee Hairline', cursive;
  font-size: 30px;
  font-weight: bolder;
}

.track-img-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height:auto;
}

.username {
  font-family: 'Bungee Outline', cursive;
  font-size: 33px;
  font-weight: bolder;
}

.c-sharp-result {
  display: none;
}

.react-css-result {
  display: none;
}

.java-android-result {
  display: none;
}
